@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --color-100: #e6e9fa;
    --color-200: #9fa7d6;
    --color-300: #5e70d6;
    --color-400: #3d48aa;
    --color-500: #2241f7;
    --color-black: #000;
}

body {
    font-family: "Roboto", sans-serif;
    color: #000;
    background-color: #fff;
}

.hero {
    background-color: var(--color-400);
    color: white;
}

.categories {
    background-color: var(--color-200);
}

.category-card .bi {
    font-size: 3rem;
}

.category-card {
    text-align: center;
}

.category-card h2 {
    font-weight: normal;
}

.contact {
    background-color: var(--color-400);
    color: var(--color-100);
}

.authors {
    background-color: var(--color-100);
}

form .btn-light {
    color: var(--color-400);
    font-weight: 500;
}

.footer {
    background-color: var(--color-black);
    color: var(--color-100);
    padding-bottom: 5em !important;
}

/* oby nigdy więcej bootstrap */
.row {
    margin-right: auto;
    margin-left: auto;
}

.padding-72 {
    padding-top: calc(3rem + 72px) !important;
}
